<%# <h1>Sessions#new</h1> %>
<%= render 'shared/headicon_login' %>
<div class="ui placeholder segment container">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(scope: :session, url: login_path) do |form| %>

        <div class="field">
			<%= form.label :username, "Username" %>
          <div class="ui left icon input">
            <%= form.text_field :username, placeholder:"Username"%>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
			<%= form.label :password, "Password" %>
          <div class="ui left icon input">
            <%= form.password_field :password%>
            <i class="lock icon"></i>
          </div>
        </div>
        <div ><br>
			<%= form.submit "Login", class:"ui blue submit button"%>
		</div>


	<% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big animated fade button">
		  <div class="visible content">
			Sign-up
           <i class="signup blue icon"></i>
		  </div>
          <div class="hidden content">Feel free</div>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
	Or
  </div>
</div>
