<%= render 'shared/headicon_home' %>

<div class="ui container">
<div class="ui two column grid">


<div class="nine wide column">
	<div class="ui fluid raised card chatbox">
	<div class="content" id="messages">

                                          <%# below this  %>

  <%# @messages.each do |message| %>
  <%# <div class="event">
    <div class="content">
      <div class="summary">
         <a><%= message.user.username </a>:
		   <%#= message.body<br>
      <%# </div>
    </div> %>
  <%# </div> %>
   	<%# end %>
                                          <%# or %>


        <%= turbo_stream_from "messages" %>

		<div class="ui feed" id="message-container">
	       <%= render @messages %>

	    </div>


                                       <%# above this %>



	<%# here we can render using this instance variable since we have view folder named its resource Message model
	and also message partial file in it.%>


</div>

 <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: root_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, autocomplete: "off" %>
              <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe, id:"send_button" %>
            </div>
          </div>
        <% end %>
      </div>


</div>
</div>

<div class=" six wide column">
	<div class="ui fluid raised card chatbox">
	  <div class="content">
		<div class="ui inverted vertical menu">
			<a class="active item">
				Home
			</a>
			<a class="item">
				Messages
			</a>
			<a class="item">
				Friends
			</a>
		</div>
	  </div>
	</div>
</div>

</div>
</div>


